# .gitlab-ci.yml pour PodStudio Static
# Cette configuration permet de déployer l'application sur GitLab Pages

image: node:lts

pages:
  stage: deploy
  script:
    # Création du dossier "public" requis par GitLab Pages
    - mkdir .public
    # On copie les fichiers nécessaires dans le dossier temporaire
    - cp -r * .public
    # On renomme pour que ce soit le dossier final propre
    - mv .public public
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
